.main{
  height: 47em;
  justify-content: center;
  .wrap{
    background-image: url(/images/brush.png);
    background-repeat: no-repeat;
    background-position-x: center;
    background-size: contain;
    height: 410px;
  }
  .text{
    text-align: center;
    padding: 9em;
    font-size: 11pt;
    font-family: gotham-black;
    margin-top: 1.5em;
  }
  .texter{
    width: 10em;
    margin: auto;
    margin-top: 10px;
  }
}