.buttonClass {
  background-color: #05b6dd;
  height: 39px;
  border: 1px solid #05b6dd;
  border-radius: 20px;
  cursor: pointer;
  color: #fff;
  margin: 19px auto;
}
.loginText {
  font-size: 13px;
  font-weight: bold;
  font-family: gotham-black;
  margin: 9px;
  text-align: center;
}
.disable{
  cursor: not-allowed;
  opacity: 0.5;
}