.header {
  background-image: url(/images/sign_in_bg.png);
  position: absolute;
  left: 0;
  background-size: cover;
  right: 0;
  top: 0;
  bottom: 0;
}
.loginFields {
  position: absolute;
  right: 298px;
  top: 200px;
}

// @imagesDir:"../images/assets";
// #header
// {
//     background-image: url("@{imagesDir}/sign_in_bg");
// }
