.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-height: 100vh;
  background-image: url(/images/sign_in_bg_Transparent.png);
  background-repeat: no-repeat;
  background-size: 200vh 100vh;
  background-position-x: inherit;

}
.loginFields {
  position: absolute;
  right: 285px;
  top: 245px;
  font-size: 11pt;
  font-family: cursive;
  padding-bottom: 7px;
  
}

