.root {
  padding-right: 2rem !important;
  display: flex !important;
  flex-direction: row !important;
  justify-content: space-between !important;
  .highlight {
    color: darkblue;
    background-color: rgba(0, 89, 78, 0.78);
  }
  .spacer {
    flex: '1 1 100%';
  }
  .actions {
    color: red;
  }
  .title {
    flex: '0 0 auto';
  }
}
