.root {
  padding-right: 2rem !important;
  display: flex !important;
  flex-direction: row !important;
  justify-content: space-between !important;
  border-bottom: 1px solid #afe3e947 !important;
  .highlight {
    color: darkblue;
    background-color: rgba(0, 89, 78, 0.78);
  }
  .spacer {
    flex: '1 1 100%';
  }
  .actions {
    color: red;
  }
  .deleteIcon {
    color: #fb7b7b !important;
  }
  .createIcon {
    color: #07b9ed !important;
  }
  .title {
    flex: '0 0 auto';
  }
  .head {
    color: #07b9ed !important;
    font-family: gotham-black !important;
    font-size: 17pt !important;
    padding: 23px 5px !important;
  }
  .headColor {
    color: #1c3330 !important;
  }
}
.selectedBackground {
  background-color: #1ff4d3;
}

.actions {
  display: flex;
  flex-direction: row;
}
