.timeCard {
  width: 44%;
  .cardHeader {
    padding-bottom: 0;
  }
  .cardHeaderText {
    font-size: 15px !important;
    line-height: 15px;
    font-family: gotham-book !important;
  }

  .cardContent {
    padding-top: 6px;
    .divider {
      border-bottom: 1px solid lightgray;
    }
    .cardContentdiv {
      margin-top: 10px;
      display: flex;
      justify-content: space-around;
      .clockItem{
        background-color: yellow;
        width: 40px;
        text-align: center;
        font-size: 33px;
        font-family: gotham-book;
        border: 1px transparent;
        border-radius: 20px;
        padding: 37px 8px 37px 8px;
      }
      .collon{
        text-align: center;
        font-size: 36px;
        font-family: gotham-book;
        border: 1px transparent;
        border-radius: 20px;
        padding: 37px 0;
      }
    }
    
  }
}