<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>404 - Visualizations</title>
  <meta name="description" content="Page you're looking for is not found">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <style media="screen">
    html {
      font-family: 'Roboto', sans-serif;
      font-size: 62.5%;
    }

    h1 {
      font-size: 128px;
    }

    body {
      line-height: normal;
      background: #efefef;
      text-align: center;
      color: #666;
    }

    button span,
    a span {
      text-transform: none !important;
    }
  </style>
</head>

<body>
  <h1>404</h1>
  <h2>Looks like you've wandered into an unknown land</h2>
  <a href="/">Take me back home</a>
</body>

</html>