<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>500 - Visualizations</title>
  <meta name="description" content="An internal server error has occurred">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <style media="screen">
    html {
      font-family: 'Roboto', sans-serif;
      font-size: 62.5%;
    }

    h1 {
      font-size: 128px;
    }

    body {
      line-height: normal;
      background: #efefef;
      text-align: center;
      color: #666;
    }

    button span,
    a span {
      text-transform: none !important;
    }
  </style>
</head>

<body>
  <h1>500</h1>
  <h2>An internal server error has occurred</h2>
  <p>Try refreshing the page. If the problem persists, please contact us at
    <a href="mailto:support@aeratechnology.com">support@aeratechnology.com</a>.</p>
</body>

</html>