<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>
    <%= title %>
  </title>
  <meta name="description" content="Page you're looking for is not found">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style media="screen">
    html {
      font-family: 'Roboto', sans-serif;
      font-size: 62.5%;
    }

    body {
      line-height: normal;
      background: #efefef;
      color: #666;
    }

    button span,
    a span {
      text-transform: none !important;
    }
  </style>
</head>

<body>
  <%- content %>
</body>

</html>