.root {
  background-color: transparent;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-image: url(/images/main-bg-transparent.png);
  background-size: cover;
  background-color: #f6f6f6;
  background-blend-mode: hard-light;
  .navLogo {
    background-image: linear-gradient(to right, #00c6ff, #0ef6cd);
    padding: 3rem 0;
    width: 14.6%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    .img {
      max-width: 100%;
      max-height: 100%;
    }
  }
  .actionItems {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
}

.showOff {
  color: red;
}
.profile{
  font-family: gotham-black !important;
  color: #07b9ed !important;
  font-size: 13pt !important;
  padding-right: 2em !important;
}
.iconColor{
  color: #00c6ff;
  padding: 10px;
  margin-left: -11px;
}