.root {
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 20%;
  .button {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
}
