.root {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  .buttonGroup {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  .row {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 1rem;

    .item {
      width: 30%;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
    }
  }
}
