.root {
  width: 100%;
  min-height: 575px;
  box-shadow: none !important;

  .tableWrapper {
    overflow-x: auto !important;
    .table {
      min-width: 1020px;
    }
  }
  .status {
    background: #0ef5ce !important;
    border-radius: 40px !important;
    border: 8px solid #0ef5ce !important;
    color: white !important;
    padding: 0 13px !important;
  }
  .inactive {
    background: #ff8383 !important;
    border-radius: 40px !important;
    border: 8px solid #ff8383 !important;
    color: white !important;
    padding: 0 9px !important;
  }
  .deleteIcon {
    color: #fb7b7b !important;
  }
  .editIcon {
    color: #00c6ff !important;
  }
  .checkbox {
    color: #3972a1 !important;
  }
  .tableText {
    color: #1d1d1d !important;
    font-size: 9pt !important;
    font-family: gotham-book !important;
    border-bottom: none;
  }
  .row {
  }
  .row:hover {
    background-color: #daf7ff !important;
  }
  .action {
    padding-left: 0;
    border-bottom: none;
  }
  .spacer {
    font-family: gotham-black;
  }
  .actionButton {
    padding: 5px;
  }
}
