.navItem {
  margin-top: 2rem !important;
  margin-bottom: 2rem !important;
  // activeItem {
  //   background-color: #05b6dd4f !important;
  // }
}
.navItem:hover {
  background-color: #daf7ff !important;
}

.active {
  background-color: #daf7ff !important;
  .activeText {
    // TODO: Change active item text color and weight
    color: #1c496f;
  }
}
