.navItem {
  margin-top: 2rem !important;
  margin-bottom: 2rem !important;
  // activeItem {
  //   background-color: #05b6dd4f !important;
  // }
  div > span {
    font-family: gotham-book !important;
  }
}
.navItem:hover {
  background-color: #daf7ff !important;
}

.active {
  border-left: 3px solid #1c496f !important;
  background-color: #daf7ff !important;
  .activeText {
    // TODO: Change active item text color and weight
    color: #1c496f;
    font-weight: 600;
  }
}
