.root {
  background-image: url('/images/main-bg.png');
  background-size: cover;

  .container {
    width: 100%;
    display: flex;
    flex-direction: row;
    .navigation {
      width: 15%;
      background: #fff;
    }
    .content {
      margin: 0 2rem;
      width: 85%;
      background: #fff;
      overflow: auto;
    }
  }
}
