.root {
  display: flex;
  flex-direction: row;
  padding-top: 5rem;
  min-height: 525px;
  .buttonGroup {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  .section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    .row {
      display: flex;
      justify-content: center;
      // align-items: center;
      // justify-content: space-evenly;
      margin: 1rem;
      .button {
        width: 60%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        div > fieldset {
          border-radius: 25px;
        }
        div > input {
          border: 1px solid transparent;
          border-radius: 26px;
        }
      }
      .item {
        width: 60%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        div > fieldset {
          border-radius: 25px;
        }
        div > input {
          border: 1px solid transparent;
          border-radius: 26px;
        }
        .radioButton {
          display: flex;
          align-items: center;
          flex-direction: row;
          margin: 0.1rem 1rem 0.1rem;
        }
      }
      .spacing {
        width: 10%;
      }
    }
  }
  .fieldPosition {
    padding-top: 11em;
  }
  .mapPlace {
    width: 42%;
    position: absolute;
    left: 55%;
  }
}
