.heading {
  font-family: gotham-black;
  font-size: 9pt;
  margin-top: 0px;
}
.label{
  font-family: gotham-book;
  font-size: 8pt;
  font-weight: 800;
  color: #0a0a0a;
}
.keyValue{
  font-family: gotham-book;
  font-size: 8pt;
  font-weight: 500;
  padding-left: 11px;
  color: #0a0a0a;
}
.main{
  padding: 1em 3em;
  background-color: #f3f6f6;
}