.root {
  padding-right: 2rem !important;
  display: flex !important;
  flex-direction: row !important;
  justify-content: space-between !important;
  border-bottom: 1px solid #afe3e947 !important;
  .head h6:only-child {
    color: #07b9ed !important;
    font-family: gotham-black !important;
    font-size: 17pt !important;
    padding: 23px 5px !important;
  }
  .actions {
    color: #07b9ed !important;
    border-bottom: 1px solid;
    :hover:not(.MuiInput-disabled-158):not(.MuiInput-focused-157):not(.MuiInput-error-160):before {
      border: none !important;
    }
    :before {
      border: none !important;
    }
    :after {
      border-bottom: 2px solid #07b9ed !important;
    }
  }
}
.heading {
  display: contents !important;
  thead {
    font-size: 8pt !important;
    font-family: gotham-book !important;
    color: #3972a1 !important;
    th {
      font-size: 8pt !important;
      font-family: gotham-book !important;
      color: #3972a1 !important;
      border-bottom: 1px solid #afe3e947 !important;
    }
  }
}
.body {
  display: contents !important;
  tbody {
    color: #1d1d1d !important;
    font-size: 9pt !important;
    font-family: gotham-book !important;
    border-bottom: none;
  }
  tr {
    background-color: #fff !important;
  }
  tr:hover {
    background-color: #daf7ff !important;
  }
  td {
    border-bottom: none;
  }
}
