.main {
  display: flex;
  flex-wrap: wrap-reverse;
  flex-direction: column-reverse;
  justify-content: space-between;
  min-height: 91vh;
  background-image: url(/images/sign_in_bg.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position-x: inherit;
  .text{
    color: #07b9ed;
    text-align: right;
    padding: 10em 7em;
    font-size: 20pt;
    font-family: gotham-black;
  }
}