.main {
  display: flex;
  flex-wrap: wrap-reverse;
  /* justify-content: center; */
  margin-top: 7em;
  margin-left: 12em;
  overflow: hidden;
  .wrap{
    padding-top: 27em;
  }
  .text{
    text-align: center;
    font-size: 14pt;
    font-family: gotham-book;
    font-weight: bold;
    margin: 13px 0 13px 8em;

  }
  .smallText{
    text-align: center;
    font-family: gotham-book;
    font-size: 9pt;
    margin: 13px 0 13px 12em;
  }
  .image{
    width: 110vh;
    height: 78vh;
    background-image: url(/images/portal_home_alternate.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position-x: inherit;
  }
}